{% extends "global/base.html" %}
{% comment %} * Extends = herança - Usar outro HTML de base {% endcomment %}

{% block title %}Home{% endblock title %}

{% comment %} * Miolo = É o bloco que chamamos de 'content' {% endcomment %}
{% block content %}
    <h2>Task List <img src="img/lista-de-tarefas.png" alt=""></h2>
    <div class="row">
        <input type="text" id="task" placeholder="Adicione seu texto">
        <button id="btnAdd">Adicionar</button>
    </div>
    <ul id="task-list">
        {% for task in tasks  %}
            <li><a href="{% url 'task-details' task.id_task %}">{{task.task_name}}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}